# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Output Excel (hasil generate, tidak perlu di-push)
outputs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
